{% load static %}

<style>
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
</style>

<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom_theme.css' %}">

<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
    <a href="#">Login</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.email }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        
        <div class="input-group mb-3">
          {{ form.password }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">Remember Me</label>
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
        </div>
      </form>

      <div class="text-center my-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block google-btn">
          <i class="fab fa-google mr-2"></i> Sign in with Google
        </a>
      </div>

      <div class="text-center">
        <p class="mb-1">
          <a href="#">Forgot password?</a>
        </p>
        <p class="mb-0">
          <a href="{% url 'register' %}" class="text-center">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>

</body>
