{% load static %}
<link rel="stylesheet" href="{% static 'css/custom_theme.css' %}">

<aside class="main-sidebar custom-sidebar-lightgreen elevation-4">

  <!-- Logo -->
  <a href="#" class="brand-link">
    <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="brand-image elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">EventHub</span>
  </a>

  <!-- Sidebar content -->
  <div class="sidebar">

    <!-- User panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'img/userimage1.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ request.user.username }}</a>
      </div>
    </div>

    <!-- Sidebar menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'whats-on' %}" class="nav-link">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>What's on?</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'join-event-list' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-in-alt"></i>
            <p>Join Event List</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'event-wish-list' %}" class="nav-link">
            <i class="nav-icon fas fa-star"></i>
            <p>Event Wish List</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'complete-event-user' %}" class="nav-link">
            <i class="nav-icon fas fa-check-circle"></i>
            <p>Completed Events</p>
          </a>
        </li>

      </ul>
    </nav>

  </div>
</aside>
